*
{
    font-family: 'Patrick Hand', cursive;
    text-decoration: none;
    list-style: none;
    font-size: 10px;
    padding: 0;
    margin: 0;
}

body
{
    background-color: #f6eddc;
}

header
{
    text-align: center;
}

header div
{
    text-align: center;
    width: 100%;
    height: 6em;
    padding-bottom: 2em;
    padding-top: 2em;
    background-color: #13444d;
}

header img
{
    width: 15em;
}

.Barra_bus
{
    width: 100%;
    height: 5em;
    text-align: center;
    background-color: #000706;
}

.Barra_bus ul li div p
{
    margin: 0.4em;
    font-size: 2.5em;
    font-family: 'Patrick Hand', cursive;
    transition: all 200ms;
}

.Barra_bus ul li div p:hover
{
    transform: scale(1.2) rotate(2deg);
    text-decoration: underline #f8572d;
}

.Barra_bus ul li a
{
    color: #ffffff;
}

.Barra_bus ul li
{
    margin-left: 1.5em;
    margin-right: 1.5em;
    display: inline-block;
}




/*Bodyyyyyy*/


.integ
{
    margin: auto;
    text-align: center;
    width: 80em;
}

.integ h1
{
    margin-top: 1em;
    font-size: 4em;
    font-family: 'Fredoka One', sans-serif;
}

.integ li
{
    display: inline-block;
}

.integ li h3
{
    margin-top: 0.5em;
    font-size: 3.5em;
    font-family: 'Patrick Hand', cursive;
}

.integ li img
{
    width: 25em;
    height: 25em;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-right: 5em;
    padding-left: 5em;
    border-radius: 40%;
    transition: all 500ms;
}

.integ li img:hover
{
    transform: scale(1.05);
    border-radius: 0%;
}

.integ #espes
{
    margin-bottom: 4em;
}

.integ #espes p
{
    font-size: 2.4em;
    font-family: 'Patrick Hand', cursive;
}

/*Footer*/

@font-face {
    font-family: SocialMedia;
    src: url(/fonts/Social\ Media\ Circled.otf);
}


footer
{
    text-align: center;
}

footer div
{
    width: 100%;
    height: 12em;
    text-align: center;
    background-color: #00272d;
}

footer h3
{
    font-size: 2em;
    padding-top: 1.2em;
    font-family: 'Patrick Hand', cursive;
    color: #bfac8b;
    text-decoration: underline;
}

footer a
{
    color: #bfac8b;
}

footer li
{
    display: inline-block;
    margin: 0 0.3em;
}

footer p
{
    font-family: SocialMedia;
    font-size: 3.5em;
    padding-top: 0.2em;
    transition: all 100ms;
}

footer p:hover
{
    color: #ffffff;
}